%h1 Workshops

- @workshops.each do |workshop|
  .card.horizontal
    .card-image
      %img.workshop-card-image{:src => workshop.image}/
    .card-stacked
      .card-content
        %span.card-title= workshop.title
        %p= workshop.description
        %i= workshop.key
      .card-action
        = link_to 'Kom i gang', workshop, class: 'btn btn-pirate-skyblue waves-effect waves-light'
        - if can? :manage, workshop
          = link_to 'Rediger', edit_workshop_path(workshop), class: 'btn btn-pirate-orange waves-effect waves-light'
          = link_to 'Slet', workshop, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-pirate-red waves-effect waves-light'

- if can? :manage, Workshop
  .fixed-action-btn.vertical
    = link_to new_workshop_path, class: 'btn-floating btn-large waves-effect waves-light red' do
      %i.material-icons add
