- content_for :title do
  Workshops

.row
  - @workshops.each do |workshop|
    .col.s12.m6.l4
      .card.workshop-card
        .card-image
          %img{src: workshop.image}
          = link_to workshop, class: "btn-floating halfway-fab waves-effect waves-light btn-pirate-skyblue" do
            %i.material-icons arrow_right_alt
          - if can? :manage, workshop
            = link_to edit_workshop_path(workshop), class: "btn-floating fab-2 halfway-fab waves-effect waves-light btn-pirate-orange" do
              %i.material-icons mode_edit
            = link_to workshop, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-floating fab-3 halfway-fab waves-effect waves-light btn-pirate-red" do
              %i.material-icons delete
        .card-stacked
          .card-content
            %span.card-title= workshop.title
            %p= workshop.description
            %i= workshop.key

- if can? :manage, Workshop
  .fixed-action-btn.vertical
    = link_to new_workshop_path, class: 'btn-floating btn-large waves-effect waves-light red' do
      %i.material-icons add
