- content_for :title do
  = @workshop.title

= @markdown.render(@workshop.description).html_safe
%br
%br
- @workshop.lectures.accessible_by(current_ability).each do |lecture|
  .row
    .col.s12.m5.lecture-img
      %img.responsive-img{src: lecture.preview_image}
    .card.horizontal.col.s12.m7
      .card-stacked
        .card-content.preview-highlight
          - if lecture.prologue?
            %span.card-title= "Forarbejde: #{lecture.title}"
          - else
            %span.card-title= "Lektion #{lecture.number}: #{lecture.title}"
          = @markdown.render(lecture.preview).html_safe
        .card-action
          = link_to 'Begynd', lecture, class: 'btn btn-pirate-skyblue waves-effect waves-light'
          - if can? :manage, lecture
            = link_to 'Rediger', edit_lecture_path(lecture), class: 'btn btn-pirate-orange waves-effect waves-light'
            = link_to 'Slet', lecture, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-pirate-red waves-effect waves-light'

- if can? :create, Lecture
  .fixed-action-btn.vertical
    = link_to new_lecture_path, class: 'btn-floating btn-large waves-effect waves-light btn-pirate-red' do
      %i.material-icons add
    -if can? :edit, @workshop
      %ul
        %li
          = link_to edit_workshop_path(@workshop), class: 'btn-floating btn-pirate-orange waves-effect waves-light' do
            %i.material-icons mode_edit
