%p
  %b Titel:
  = @workshop.title
%p
  %b Beskrivelse:
  = @workshop.description
%p
  %b Lektioner:
.row
  - @workshop.lectures.each do |lecture|
    .card
      .card-content
        .card-title= lecture.title
        = lecture.body[0,50]
      .card-action
        = link_to 'Gå til Lektionen', lecture, class: 'btn btn-pirate-skyblue waves-effect waves-light'
        - if can? :manage, lecture
          = link_to 'Rediger', edit_lecture_path(lecture), class: 'btn btn-pirate-orange waves-effect waves-light'
          = link_to 'Slet', lecture, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-pirate-red waves-effect waves-light'

- if can? :create, Lecture
  .fixed-action-btn.vertical
    = link_to new_lecture_path, class: 'btn-floating btn-large waves-effect waves-light btn-pirate-red' do
      %i.material-icons add
