%p
  %b Titel:
  = @workshop.title
%p
  %b Beskrivelse:
  = @workshop.description
%p
  %b Lektioner:
.row
  - @workshop.lectures.each do |lecture|
    .card
      .card-content
        .card-title= lecture.title
        = lecture.body[0,50]
      .card-action
        = link_to 'Gå til Lektionen', lecture