%p#notice= notice

%p
  %b Name:
  = @workshop.name
%p
  %b Description:
  = @workshop.description
%p
  %b Difficulty:
  = @workshop.difficulty
%p
  %b Age:
  = @workshop.age

= link_to 'Edit', edit_workshop_path(@workshop)
\|
= link_to 'Back', workshops_path
