%p#notice= notice

%p
  %b Title:
  = @workshop.title
%p
  %b Description:
  = @workshop.description
%p
  %b Key:
  = @workshop.key

%p
  %b Lectures:
  - @workshop.lectures.each do |lecture|
    = link_to lecture.title, lecture