- render_options = {hard_wrap: true, link_attributes: {rel: 'nofollow'}}
- engine_options = {fenced_code_blocks: true, autolink: true}
- renderer = RougeHTML.new render_options
- markdown = Redcarpet::Markdown.new renderer, engine_options


%h1 Web Workshop

- content = "## HTML formen"
= markdown.render(content).html_safe
- code = "```html\n <h1> Overskrift </h1> \n```"
= markdown.render(code).html_safe
= markdown.render(@ccode).html_safe
- content = "<div class='btn'> Knap fra Markdown </div>"
= markdown.render(content).html_safe

= "<div class='btn'> Knap </div>".html_safe
