<% content_for :subnav do %>
  <li>
    <a href="#front">
      <%= @lecture.title %>
    </a>
  </li>
  <% @lecture.article_insertions.each do |article_insertion| %>
    <% if can? :read, article_insertion.article %>
      <li>
        <a href="#<%= article_insertion.article.key %>">
          <%= article_insertion.article.title %>
        </a>
      </li>
    <% end %>
  <% end %>
<% end %>
<div class="browser-default">
  <div class="section scrollspy" id="front">
    <% if @lecture.prologue? %>
      <h1>
        <%= "Forarbejde: #{@lecture.title}" %>
      </h1>
    <% else %>
      <h1>
        <%= @lecture.title %>
      </h1>
      <h2>
        <%= @lecture.workshop.title %>
        <%= '#' %>
        <%= @lecture.number %>
      </h2>
    <% end %>
    <%= @markdown.render(@lecture.body).html_safe %>
  </div>
  <div class="page-break"></div>
  <% @lecture.article_insertions.each.with_index do |article_insertion, index| %>
    <% if can? :read, article_insertion.article %>
      <section class="article scrollspy" id="<%= article_insertion.article.key %>">
        <div class="avoid-page-break">
          <%= @markdown.render("###{article_insertion.article.title}").html_safe %>
          <%= Kramdown::Document.new(raspberry_markdown_to_html(article_insertion.article.body),{ input: "Kramdown", parse_block_html: true, parse_span_html: true }).to_html.html_safe %>
        </div>
      </section>
    <% end %>
  <% end %>
  <div class="fixed-action-btn vertical">
    <% if can? :manage, Lecture %>
      <%= link_to edit_lecture_path(@lecture), class: 'btn-floating btn-large btn-pirate-red' do %>
        <i class="large material-icons">mode_edit</i>
      <% end %>
      <ul>
        <li>
          <%= link_to print_lecture_path(@lecture), class: 'btn-floating green' do %>
            <i class="material-icons">insert_drive_file</i>
          <% end %>
        </li>
        <li>
          <%= link_to slides_lecture_path(@lecture), class: 'btn-floating yellow darken-1' do %>
            <i class="material-icons">slideshow</i>
          <% end %>
        </li>
      </ul>
    <% else %>
      <%= link_to print_lecture_path(@lecture), class: 'btn-floating green', style: "margin-right: 10px" do %>
        <i class="material-icons">insert_drive_file</i>
      <% end %>
      <%= link_to slides_lecture_path(@lecture), class: 'btn-floating yellow darken-1' do %>
        <i class="material-icons">slideshow</i>
      <% end %>
    <% end %>
  </div>
</div>
