- content_for :subnav do
  %li
    %a{href: "#front"}=@lecture.title
  - @lecture.article_insertions.each do |article_insertion|
    - if can? :read, article_insertion.article
      %li
        %a{href: "##{article_insertion.article.key}"}=article_insertion.article.title

.browser-default
  .section.scrollspy{id: 'front'}
    %h1
      = @lecture.title
    %h2
      = @lecture.workshop.title
      = '#'
      = @lecture.number

    = @markdown.render(@lecture.body).html_safe

  .page-break
  - @lecture.article_insertions.each.with_index do |article_insertion, index|
    - if can? :read, article_insertion.article
      %section.article.scrollspy{id: article_insertion.article.key}
        .avoid-page-break
          = @markdown.render("###{article_insertion.article.title}").html_safe
          = @markdown.render(article_insertion.article.body).html_safe

  .fixed-action-btn.vertical
    -if can? :manage, Lecture
      = link_to edit_lecture_path(@lecture), class: 'btn-floating btn-large btn-pirate-red' do
        %i.large.material-icons mode_edit
      %ul
        %li
          = link_to print_lecture_path(@lecture), class: 'btn-floating green' do
            %i.material-icons insert_drive_file
        %li
          = link_to slides_lecture_path(@lecture), class: 'btn-floating yellow darken-1' do
            %i.material-icons slideshow
    - else
      = link_to print_lecture_path(@lecture), class: 'btn-floating green', style: "margin-right: 10px" do
        %i.material-icons insert_drive_file
      = link_to slides_lecture_path(@lecture), class: 'btn-floating yellow darken-1' do
        %i.material-icons slideshow
