= simple_form_for(@article) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :key
    = f.input :body, input_html: { class: 'markdown-body' }

  .form-actions
    = f.button :submit
