<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :key %>
    <%= f.input :body, input_html: { class: 'markdown-editor' } %>
    <%= f.input :preview, input_html: { class: 'markdown-editor' } %>
    <%= f.input :preview_image_url %>
    <%= f.input :preview_code, input_html: { class: 'markdown-editor' } %>
    <%= f.association :category %>
    <%= f.input :documentation, as: :boolean %>
    <%= f.input :active, as: :boolean %>
    <br/>
    <%= f.file_field :images, multiple: true %>
    <% @article.images.each do |image| %>
      <%= url_for(image) %>
      <%= image_tag image %>
    <% end %>
    <br/>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
