= simple_form_for(@article) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :key
    = f.input :body, input_html: { class: 'markdown-editor' }
    = f.input :preview, input_html: { class: 'markdown-editor' }
    = f.input :preview_image_url
    = f.input :preview_code, input_html: { class: 'markdown-editor' }

  .form-actions
    = f.button :submit
