.row
  - @articles.each do |article|
    .col.s12.m6.l4
      .card.medium
        .card-image
          .article-card-image{style: "background-image: url('#{article.preview_image}')"}
        .card-content.preview-highlight
          %span.card-title= article.title
          = @markdown.render(article.preview).html_safe
        .card-action
          = link_to 'Gå til Artiklen', article, class: 'pirate-skyblue-text'
          - if can? :manage, article
            = link_to 'Rediger', edit_article_path(article), class: 'pirate-orange-text'
            = link_to 'Slet', article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'pirate-red-text'

- if can? :create, Article
  .fixed-action-btn.vertical
    = link_to new_article_path, class: 'btn-floating btn-large waves-effect waves-light red' do
      %i.material-icons add
