- content_for :title do
  Docs

.row
  - @articles.each do |article|
    .col.s12.m6.l6.xl4
      .card.hover-card
        .card-image
          = link_to article, class: "hover-card-image" do
            %img.center{src: article.preview_image}
            .hover-content.preview-highlight
              = @markdown.render(article.preview).html_safe
          - if can? :manage, article
            = link_to edit_article_path(article), class: "btn-floating halfway-fab waves-effect waves-light btn-pirate-orange" do
              %i.material-icons mode_edit
        .card-content.preview-highlight
          %span.card-title= article.title
          = @markdown.render(article.preview_code).html_safe
       
- if can? :create, Article
  .fixed-action-btn.vertical
    = link_to new_article_path, class: 'btn-floating btn-large waves-effect waves-light red' do
      %i.material-icons add
