.row
  - @articles.each do |article|
    .card
      .card-content
        .card-title= article.title
        = article.body[0,50]
      .card-action
        = link_to 'Gå til Artiklen', article, class: 'btn btn-pirate-skyblue waves-effect waves-light'
        - if can? :manage, article
          = link_to 'Rediger', edit_article_path(article), class: 'btn btn-pirate-orange waves-effect waves-light'
          = link_to 'Slet', article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-pirate-red waves-effect waves-light'

- if can? :create, Article
  .fixed-action-btn.vertical
    = link_to new_article_path, class: 'btn-floating btn-large waves-effect waves-light red' do
      %i.material-icons add
