.navbar-fixed
  %nav.pirate-red-bg.nav-extended
    #shrink-app-header.shrink-app-header
      .container.height-100
        .shrink-background-container
          #shrink-background-back.shrink-background
          #shrink-background-front.shrink-background
            %span
            %span
            %span
            %span
        .shrink-header-content
          #shrink-small-toolbar.shrink-app-toolbar
            #shrink-small-title.shrink-small-title
              = yield :title
            %a{:href => "/"} Carlsberg Pirates
            %ul.right
              %li
                = link_to 'Workshops', workshops_path, class: 'white-text'
              %li
                = link_to 'Docs', "/docs", class: 'white-text'
              %li
                - if current_user
                  = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'white-text'
                - else
                  = link_to 'Sign in', new_user_session_path, class: 'white-text'
          #shrink-large-toolbar.shrink-app-toolbar.shrink-tall
            #shrink-large-title.shrink-large-title 
              = yield :title