= simple_form_for(@project) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :completed_at
    = f.input :owner_names
    = f.input :image_url
    = f.input :description, input_html: { class: 'markdown-editor' }
    = f.input :project_source
    = f.input :active, as: :boolean
    %br
    = f.association :showcases, include_blank: true

  .form-actions
    = f.button :submit
