.browser-default
  = @markdown.render("###{@project.title}").html_safe
  = link_to @project.project_source if @project.project_source
  = @project.completed_at
  = @markdown.render(@project.description).html_safe

- if can? :manage, @project
  .fixed-action-btn.vertical
    = link_to edit_project_path(@project), class: 'btn-floating btn-large btn-pirate-red waves-effect waves-light' do
      %i.large.material-icons mode_edit