- content_for :title do
  = @showcase.title

.browser-default
  = @showcase.released_at
  = @markdown.render(@showcase.description).html_safe

.row
  - @showcase.projects.each do |project|
    .col.s12.m6.l4
      .card.workshop-card
        .card-image
          = link_to project do
            %img.center{src: project.image_url}
            .hover-content
              %i.material-icons info
          - if project.project_source
            = link_to project.project_source, class: "btn-floating halfway-fab waves-effect waves-light btn-pirate-skyblue" do
              %i.material-icons link
          - if can? :manage, project
            = link_to edit_project_path(project), class: "btn-floating fab-2 halfway-fab waves-effect waves-light btn-pirate-orange" do
              %i.material-icons mode_edit
            = link_to project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-floating fab-3 halfway-fab waves-effect waves-light btn-pirate-red" do
              %i.material-icons delete

        .card-stacked
          .card-content
            %span.card-title= project.title
            %p
              = project.description[0,35]
              = "..."

- if can? :manage, @showcase
  .fixed-action-btn.vertical
    = link_to edit_showcase_path(@showcase), class: 'btn-floating btn-large btn-pirate-red waves-effect waves-light' do
      %i.large.material-icons mode_edit