<!-- Global site tag (gtag.js) - Google Analytics
-->
<% if Rails.env.production? %>
  <script src="https://www.googletagmanager.com/gtag/js?id=UA-134533962-1"></script>
  <script>

    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-134533962-1');


  </script>
<% end %>
<title>Hvaderkode</title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application' %>
<%= stylesheet_pack_tag 'application' %>
<!-- Import Google Icon Font
-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
<!-- Material Design fonts
-->
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css"></link>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
