!!!
%html
  %head
    %title Carlsberg Pirates
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  
    / Import Google Icon Font
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/

    / Material Design fonts
    %link{:href => "//fonts.googleapis.com/css?family=Roboto:300,400,500,700", :rel => "stylesheet", :type => "text/css"}/


    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
%body
  = render 'shared/menu'
  = render 'shared/flash'
  .container.background-container
    #space-invader
    #pacman
  %div{ class: "container #{'subnav' if content_for? :subnav}"}
    = yield
