!!!
%html
  %head
    %title Carlsberg Pirates
    = csrf_meta_tags
    %link{:href => "https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css", :rel => "stylesheet"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
  
    / Import Google Icon Font
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/

    / Material Design fonts
    %link{:href => "//fonts.googleapis.com/css?family=Roboto:300,400,500,700", :rel => "stylesheet", :type => "text/css"}/


    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
%body
  = render 'shared/menu'
  %p.notice= notice
  %p.alert= alert
  .container
    = yield
