%html
  %head
    = render 'layouts/head'
%body
  = render 'shared/menu'
  = render 'shared/flash'
  = render 'shared/sidenav'
  .container.background-container
    #space-invader.hide-on-small-only
    #pacman.hide-on-small-only
  .container
    - if content_for? :subnav
      .row
        .col.s12.m8.offset-m1
          = yield
        .col.hide-on-small-only.m3
          %ul.table-of-contents
            = yield :subnav
    - else
      = yield
