!!!
%html
  %head
    %title Carlsberg Pirates
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  
    / Import Google Icon Font
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/

    / Material Design fonts
    %link{:href => "//fonts.googleapis.com/css?family=Roboto:300,400,500,700", :rel => "stylesheet", :type => "text/css"}/

    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
%body.front-page
  .navbar
    %nav.pirate-red-bg.nav-extended
      .container
        .nav-wrapper
          %a.brand-logo.white-text{:href => "/"} Carlsberg Pirates
          .right
            %a.button-collapse.hide-on-large-and-up{"data-activates" => "mobile-menu", :href => "#"}
              %i.material-icons menu
          %ul.right.hide-on-med-and-down
            = render partial: 'shared/menu_items'
        - if content_for? :subnav
          .nav-content
            %ul.tabs.tabs-transparent
              = yield :subnav
  = render 'shared/sidenav'
  = render 'shared/flash'
  = yield
