!!!
%html
  %head
    = render 'layouts/head'
%body.front-page
  .navbar
    %nav.pirate-red-bg.nav-extended
      .container
        .nav-wrapper
          %a.brand-logo.white-text{:href => "/"} Carlsberg Pirates
          .right
            %a.button-collapse.hide-on-large-and-up{"data-activates" => "mobile-menu", :href => "#"}
              %i.material-icons menu
          %ul.right.hide-on-med-and-down
            = render partial: 'shared/menu_items'
        - if content_for? :subnav
          .nav-content
            %ul.tabs.tabs-transparent
              = yield :subnav
  = render 'shared/sidenav'
  = render 'shared/flash'
  = yield
