!!!
%html
  %head
    = render 'layouts/head'
%body
  .search-body
    = render 'shared/search_menu'
    = render 'shared/flash'
    = render 'shared/sidenav'
    .container
      .background-container
        #space-invader.hide-on-small-only
        #pacman.hide-on-small-only
      = yield
