!!!
%html
  %head
    = render 'layouts/head'
%body
  .shrinkable-body
    = render 'shared/shrink_menu'
    = render 'shared/flash'
    = render 'shared/sidenav'
    .container.background-container
      #space-invader.hide-on-small-only
      #pacman.hide-on-small-only
    %div{ class: "container #{'subnav' if content_for? :subnav}"}
      = yield
